<section>
  <!-- Hero -->
  <section class="hero min-h-[50vh] lg:min-h-[80vh]">
    <div
      class="relative flex justify-center overflow-hidden items-center flex-col pt-8 lg:py-16"
    >
      <!-- Soccer Balls-->
      <img
        src="/assets/soccer-ball.png"
        alt="Soccer Left"
        class="absolute left-[-150px] top-[30%] -translate-y-1/2 w-[200px] sm:w-[300px] sm:left-[-200px] md:w-[350px] md:left-[-230px] lg:w-[650px] lg:top-1/2 lg:left-[-450px]"
      />
      <img
        src="/assets/soccer-ball.png"
        alt="Soccer Right"
        class="absolute right-[-150px] top-[30%] -translate-y-1/2 w-[200px] sm:w-[300px] sm:right-[-200px] md:w-[350px] md:right-[-230px] lg:w-[650px] lg:top-1/2 lg:right-[-450px]"
      />

      <div class="z-10 text-center w-[80%] sm:w-[70%]">
        <!-- Maple Leaf Icon -->
        <div class="mx-auto w-14 h-auto mb-2 sm:w-20 md:w-24">
          <img src="/assets/maple.png" alt="Maple Leaf" />
        </div>

        <!-- Title -->
        <h1
          class="text-white font-title text-2xl leading-9 my-3 sm:text-3xl sm:leading-10 md:text-4xl lg:text-5xl"
        >
          Canada Day Youth Soccer Tournament Festival 2025
        </h1>
      </div>

      <div class="text-white my-5 w-[80%] sm:w-[70%] lg:w-[50%] text-center">
        <h3 class="text-base sm:text-xl lg:text-2xl">
          Join us on Canada day, July 1st 2025, for a full-day soccer festival
          at White Haven Park. We're building a community through the
          transformative power of football. Players, their friends and families,
          members of surrounding neighbourhoods, small business vendors and
          political leaders will come together for a day of fun, connect with
          each other and celebrate diversity, nationality, summer, football and
          community.
        </h3>
        <a
          href="mailto:fcwhitehaven@gmail.com"
          class="inline-block font-bold my-10 px-3 py-2 text-base lg:text-xl rounded-full text-center border-2 hover:text-white transition text-secondary bg-white border-white hover:bg-secondary"
        >
          REGISTER YOUR TEAM
        </a>
      </div>
    </div>
  </section>
  <!-- JOIN THE TOURNAMENT -->
  <section class="about relative text-center lg:pb-6">
    <div class="absolute inset-0 bg-white bg-opacity-75"></div>
    <div class="relative z-10">
      <h2
        class="font-title pt-6 pb-4 sm:text-xl sm:pt-8 sm:pb-4 md:text-2xl md:pt-10 md:pb-8 lg:text-3xl lg:pt-16 lg:pb-10"
      >
        Join The tournament
      </h2>
      <div class="w-[80%] mx-auto sm:w-[70%] md:w-[65%] lg:w-[50%]">
        <p class="font-bold leading-6 md:text-lg lg:leading-10">
          On Tuesday July 1, 2025 between 4 and 8 Youth teams will compete for prizes while community 
          members watch them play, picnic in the park and meet their neighbours, local vendors and politicians. 
          Free football clinics for youth and children will be held in between games, and other fun and 
          educational activities will be offered.
        </p>
        <img  class="w-[75%] sm:w-[50%] lg:w-[40%] mx-auto my-10" src="/assets/kids-tournament.jpg" alt="kids-tournament" />
      </div>
      <h2
        class="font-title pt-6 pb-4 sm:text-xl sm:pt-8 sm:pb-4 md:text-2xl md:pt-10 md:pb-8 lg:text-3xl lg:pt-16 lg:pb-10"
      >
        Want To Join?
      </h2>
      <div class="w-[80%] mx-auto sm:w-[70%] md:w-[65%] lg:w-[50%]">
        <p class="font-bold leading-6 md:text-lg lg:leading-10">
          WHCC Corp. will follow up with information on tournament schedules,
          rules, game format, team roster and kits, payment due dates, etc. We
          are a not-for-profit football club made up entirely of volunteers who
          are passionate about the sport and promoting it, while developing
          youth and fostering community engagement. That is why tournament
          entrance fees are kept as low as $300 per team. All revenue will be
          put back into the event to offset expenses. Sponsors are welcomed. Any
          support we receive will reduce tournament entry fees. We will be glad
          to talk about advertising your business, service or product and
          promoting your brand, before, during and after this festival event.
          Different sponsorship packages are available. Email or Call us for the
          details.
        </p>
        <div class="flex justify-center flex-col items-center">
          <div
            class="m-4 flex flex-col w-[90%] sm:w-[80%] md:flex-row md:justify-around lg:text-xl"
          >
            <!-- Email -->
            <div class="flex items-center m-3">
              <img
                src="/assets/email icon.png"
                alt="email icon"
                class="w-10 h-auto"
              />
              <p class="ml-4 font-bold">fcwhitehaven&#64;gmail.com</p>
            </div>

            <!-- Phone -->
            <div class="flex items-center m-3">
              <img
                src="/assets/phone icon.png"
                alt="phone icon"
                class="w-10 h-auto"
              />
              <p class="whitespace-nowrap ml-4 font-bold">(416) 558-1330</p>
            </div>
          </div>
          <div class="py-4 md:text-lg">
            <p>
              A subsidized entry fee of
              <span class="font-bold">$300</span> per team supports tournament
              costs and community programs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- WHY WHC?-->
  <section class="text-center items-center pb-8">
    <h2
      class="font-title pt-6 pb-4 sm:text-xl sm:pt-8 sm:pb-4 md:text-2xl md:pt-10 md:pb-8 lg:text-3xl lg:pt-16 lg:pb-10"
    >
      Why WHCC Corp. is Hosting & Organizing This Tournament?
    </h2>
    <p class="mx-auto w-[80%] font-bold leading-6 md:text-lg lg:leading-10 mb-8">
      To provide Youth with fun, encourage competition, build skills and empower confidence, and to allow friends, family and Community Members to have:
    </p>
    <div class="mx-auto w-[70%] sm:w-[60%] md:w-[80%] lg:w-[80%]">
      <div class="flex flex-col md:flex-row md:justify-evenly">
        <div
          class="border-2 border-[#b10919] p-4 my-4 sm:my-6 md:w-[33%] flex flex-col items-center"
        >
          <div class="flex justify-center">
            <img
              src="/assets/why-whc-1.jpg"
              alt="community engagement"
              class="h-48 object-cover"
            />
          </div>
          <div class="mt-2">
            <h3 class="text-center font-title my-2">Community Engagement</h3>
            <p class="text-center text-sm">
              Celebrate Canada Day with Scarborough families, businesses, and
              leaders through food, fun, and football.
            </p>
          </div>
        </div>
        <div
          class="border-2 border-[#b10919] p-4 my-4 sm:my-6 md:w-[33%] flex flex-col items-center lg:ml-4"
        >
          <div class="flex justify-center">
            <img
              src="/assets/why-whc-2.jpg"
              alt="community engagement"
              class="h-48 object-cover"
            />
          </div>
          <div class="mt-2">
            <h3 class="text-center font-title my-2">Vendor Opportunities</h3>
            <p class="text-center text-sm">
              Local vendors can showcase their products and connect with the
              community in a festive, high-traffic setting.
            </p>
          </div>
        </div>
        <div
          class="border-2 border-[#b10919] p-4 my-4 sm:my-6 md:w-[33%] flex flex-col items-center lg:ml-4"
        >
          <div class="flex justify-center">
            <img
              src="/assets/why-whc-3.png"
              alt="community engagement"
              class="h-48 object-cover"
            />
          </div>
          <div class="mt-2">
            <h3 class="text-center font-title my-2">Meet Your Leaders</h3>
            <p class="text-center text-sm">
              Political leaders will drop by to meet residents, listen to ideas,
              and support local youth and community efforts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- THE ONGOING-->
  <section class="text-center pb-8 bg-[#f9edee]">
    <h2
      class="font-title pt-8 pb-4 sm:text-xl sm:pt-8 sm:pb-4 md:text-2xl md:pt-10 md:pb-8 lg:text-3xl lg:pt-16 lg:pb-10"
    >
      THE ONGOING PROGRAM
    </h2>
    <div
      class="w-[80%] flex flex-col items-center justify-center mx-auto md:flex-row"
    >
      <div class="w-[50%] my-7 md:w-[900px] lg:w-auto md:mr-10">
        <img
          class="lg:h-80"
          src="/assets/ongoin-pic.jpg"
          alt="Ongoing program image"
        />
      </div>
      <div class="lg:w-[500px]">
        <p class="leading-8 font-bold">
          Since 2022, the F4 program has offered free drop-in soccer twice a
          week at White Haven Park. This open scrimmage format welcomes all
          skill levels to enjoy the game and stay active. Members of F4 and
          White Haven Football Club will be at the event to share info and
          welcome new players.
        </p>
        <a
          href="https://www.whcfc.ca/play"
          class="inline-block font-bold my-8 px-3 py-2 text-base lg:text-xl rounded-full text-center border-2 hover:text-white transition text-secondary bg-white border-white hover:bg-secondary"
        >
          CHECK THE DETAILS
        </a>
      </div>
    </div>
  </section>
</section>
