<header class="flex md:h-0 md:p-0">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/team_logo.jpg" class="md:hidden" alt="Logo" />
    </a>
  </div>
  <div class="grow"></div>
  <div class="hamburger" (click)="toggleNavbar()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>
<div class="flex items-center justify-between md:py-3 md:px-2">
  <div class="logo h-0 md:h-auto">
    <a routerLink="/">
      <img src="assets/team_logo.jpg" class="hidden md:block" alt="Logo" />
    </a>
  </div>
  <nav
    class="navbar flex justify-around w-full"
    [ngClass]="{ active: isNavbarActive }"
  >
    <ul>
      <li>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      </li>
      <!-- <li>
        <a routerLink="/community" routerLinkActive="active">Community</a>
      </li> -->
      <!-- <li>
        <a routerLink="/volunteer" routerLinkActive="active">Volunteer</a>
      </li> -->
      <li>
        <a routerLink="/indoor-soccer" routerLinkActive="active">Indoor Soccer</a>
      </li>
      <li>
        <a routerLink="/tournament" routerLinkActive="active">2025 Tournament</a>
      </li>
      <li>
        <a routerLink="/play" routerLinkActive="active">F4 Program</a>
      </li>
      <li>
        <a routerLink="/sponsors" routerLinkActive="active">Sponsors</a>
      </li>
      <li>
        <a routerLink="/educational-sessions" routerLinkActive="active">Educational Sessions</a>
      </li>
      <!-- <li>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQs</a></li> -->
    </ul>
  </nav>
</div>

<!-- <div class="donate-button">
  <button>Donate</button>
</div> -->
