<section class="tournament-section">
    <h1 class="tournament-title">Winter Futsal Program: Fun, Fitness, and Football!</h1>
    <div class="tournament-info">
      <ul>
        <li>
            Looking to stay fit, have fun, and sharpen your football skills this winter? The Subsidized Winter Futsal Program is perfect for players of all levels!<br/>
            •	Improve your technical skills in the FIFA-recognized format of futsal.<br/>
            •	Build team collaboration, camaraderie, and lasting friendships.<br/>
            •	Enjoy organized scrimmages in a welcoming and supportive environment.<br/>
          </li>
        <li><strong>About the Program:</strong> This program is brought to you by WHCFC, a not-for-profit organization devoted to providing affordable opportunities for the community. Thanks to TDSB’s permit approval and WHCFC's subsidies, you can enjoy high-quality indoor football at a fraction of the cost.</li>
        <li><strong>Dates:</strong> January 10 - March 7, 2025 (9 Weeks)</li>
        <li><strong>Location:</strong> White Haven Public School, Double Gym - 105 Invergordon Ave, Scarborough</li>
        <li><strong>Subsidized Rate:</strong> $65 Full session, $10 Individual session. $65 (includes mandatory insurance for TDSB)</li>
        <li><strong>How to Join:</strong><br/>1. e-Transfer Gurpurv19&#64;gmail.com with a note of your name.<br/>
            2.	Pay the subsidized rate.<br/>
            3.	Start playing and enjoying weekly organized scrimmages!<br/>
        </li>
      </ul>
    </div>
  </section>
  