<section class="tournament-section">
    <h1 class="tournament-title">WHCFC Indoor Football Program Spring Season</h1>
    <div class="tournament-info">
      <ul>
        <li>
            Looking to stay fit, have fun, and sharpen your football skills this winter? The Subsidized Winter Futsal Program is perfect for players of all levels!<br/>
            •	Improve your technical skills in the FIFA-recognized format of futsal.<br/>
            •	Build team collaboration, camaraderie, and lasting friendships.<br/>
            •	Enjoy organized scrimmages in a welcoming and supportive environment.<br/>
          </li>
        <!-- <li><strong>About the Program:</strong> This program is brought to you by WHCFC, a not-for-profit organization devoted to providing affordable opportunities for the community. Thanks to TDSB’s permit approval and WHCFC's subsidies, you can enjoy high-quality indoor football at a fraction of the cost.</li> -->
        <li><strong>Location:</strong> Joseph Brant Public School, 270 Manse Rd, Scarborough, ON M1E 3V4</li>
        <li><strong>Youth Session Dates:</strong> March 18 - April 29, 2025 (7 weeks)</li>
        <li><strong>Adult Session Dates:</strong> March 21 - April 25, 2025 (6 weeks)</li>
        <li><strong>Subsidized Rate:</strong><br/>Youth Full season (7 weeks) pricing: $50<br/>Adult Full season (6 weeks) pricing: $40<br/>Per session pricing: $10</li>
        <li><strong>How to Join:</strong> Register online by filling out registration form below:<br/>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScwWx8eU5yRe4cRvcBmNSUAnfm_cG78zUWkK-0EAWQDA0IqCQ/viewform?usp=header" target="_blank">WHCFC Indoor Soccer Registration Form</a></li>
      </ul>
    </div>
  </section>
  