<section>
  <section class="hero h-[30vh] md:h-[55vh] lg:h-[55vh] flex items-center">
    <div
      class="sm:w-[80%] sm:pl-[3.5rem] md:w-[70%] md:pl-[3rem] lg:w-[55%] lg:pl-[8rem]"
    >
      <h1 class="title_primary">WHCFC INDOOR<br />FOOTBALL PROGRAM</h1>
    </div>
  </section>
  <section class="countdown relative py-12">
    <div class="absolute inset-0 bg-black bg-opacity-70"></div>
    <div
      class="relative z-10 flex flex-col items-center text-white text-center px-6"
    >
      <div class="sm:w-[70%] md:w-[60%] md:pt-4 lg:w-[45%] lg:pt-4">
        <h2 class="font-roboto text-2xl leading-relaxed">
          Looking to stay fit, have fun, and sharpen your football skills this
          winter? The Subsidized Winter Futsal Program is perfect for players of
          all levels!
        </h2>
      </div>

      <h2 class="text-xl mt-6">
        Join our program by
        <span class="font-bold">March 18th, 2025</span>
      </h2>

      <!-- Countdown Timer -->
      <div class="flex items-center justify-center w-full gap-1.5 mt-6">
        <div class="timer">
          <div
            class="rounded-xl bg-customGreen py-3 min-w-[96px] flex items-center justify-center flex-col gap-1 aspect-square px-3"
          >
            <h3
              class="countdown-element days font-manrope font-semibold text-2xl text-white text-center"
            >
              {{ days }}
            </h3>
            <p
              class="text-lg font-manrope font-normal text-white mt-1 text-center w-full"
            >
              Days
            </p>
          </div>
        </div>

        <h3 class="font-manrope font-semibold text-2xl text-white">:</h3>

        <div class="timer">
          <div
            class="rounded-xl bg-customGreen py-3 min-w-[96px] flex items-center justify-center flex-col gap-1 aspect-square px-3"
          >
            <h3
              class="countdown-element hours font-manrope font-semibold text-2xl text-white text-center"
            >
              {{ hours }}
            </h3>
            <p
              class="text-lg font-manrope font-normal text-white mt-1 text-center w-full"
            >
              Hours
            </p>
          </div>
        </div>

        <h3 class="font-manrope font-semibold text-2xl text-white">:</h3>

        <div class="timer">
          <div
            class="rounded-xl bg-customGreen py-3 min-w-[96px] flex items-center justify-center flex-col gap-1 aspect-square px-3"
          >
            <h3
              class="countdown-element minutes font-manrope font-semibold text-2xl text-white text-center"
            >
              {{ minutes }}
            </h3>
            <p
              class="text-lg font-manrope font-normal text-white mt-1 text-center w-full"
            >
              Minutes
            </p>
          </div>
        </div>

        <h3 class="font-manrope font-semibold text-2xl text-white">:</h3>

        <div class="timer">
          <div
            class="rounded-xl bg-customGreen py-3 min-w-[96px] flex items-center justify-center flex-col gap-1 aspect-square px-3"
          >
            <h3
              class="countdown-element seconds font-manrope font-semibold text-2xl text-white text-center"
            >
              {{ seconds }}
            </h3>
            <p
              class="text-lg font-manrope font-normal text-white mt-1 text-center w-full"
            >
              Seconds
            </p>
          </div>
        </div>
      </div>

      <!-- Call to Action Button -->
      <div class="flex justify-center items-center pt-6">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfab8Y8zkB_wqjU-Af4aO6ZdY3M7wWWnpjbl8ItX4tK2nlLzw/viewform"
          class="button border-customGreen bg-white text-black hover:bg-customGreen"
          target="_blank"
        >
          Sign Up Now
        </a>
      </div>
    </div>
  </section>

  <section>
    <h1 class="title_sub bg-secondary text-center py-5">PROGRAM</h1>
    <div
      class="md:flex md:justify-center md:items-center lg:flex lg:justify-center lg:items-center py-12"
    >
      <div class="relative md:right-9 lg:right-5">
        <div 
          class="lg:w-[450px] lg:h-[450px] md:w-[350px] md:h-[350px] w-[250px] h-[250px] pg_boy flex items-center justify-center"
        >
          <img
            src="../../../assets/test (2).png"
            alt="young boy playing soccer"
            class="w-[85%] h-[85%] object-contain"
          />
        </div>
      </div>
      <div
        class="text-black bg-gray text-center sm:mt-8 md:mr-10 md:px-5 py-6 lg:px-10"
      >
        <h3 class="text-xl font-bold pb-4">Youth Session (Under 18)</h3>
        <ul class="lg:mb-6">
          <li>
            <span class="font-bold"
              >Dates: March 18 - April 29, 2025 (7 weeks)</span
            >
          </li>
          <li>
            <span class="font-bold">Youth Full season (7 weeks) pricing</span>:
            $10
          </li>
          <li><span class="font-bold">Per session pricing</span>: $2</li>
          <li>
            <span class="font-bold">Location</span>: Joseph Brant Public School,
            <br />270 Manse Rd, Scarborough, ON M1E 3V4
          </li>
        </ul>
        <div class="pt-4 md:pt-8 flex justify-center">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfab8Y8zkB_wqjU-Af4aO6ZdY3M7wWWnpjbl8ItX4tK2nlLzw/viewform"
            class="button text-sm border-secondary hover:bg-secondary"
            target="_blank"
          >
            Sign Up Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1 class="title_sub bg-secondary text-center py-5">GALLERY</h1>
    <div class="py-12 px-12 flex justify-center">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 sm:w-[80%] w-full">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic1.jpg"
            alt="soccer practice pic1"
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic2.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic3.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic4.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic5.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="../../../assets/pic6.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</section>
