<section class="tournament-section">
    <h1 class="tournament-title">White Haven Invitational Tournament</h1>
    <div class="tournament-info">
      <h2>May 10-11, 2025</h2>
      <ul>
        <li><strong>Location:</strong> UTSC “THE VALLEY” - 130 Old Kingston Road
        </li>
        <li><strong>Early Bird Pricing:</strong> $500 (Team Registration)/ $40 (Individual Registration)</li>
        <li>
          🔥 Get ready for an exciting 2-day soccer tournament! Here's what you can expect:<br/>
          ✅ Minimum of 4 games for every team<br/>
          🏆 Medals and a trophy for the winning team<br/>
          🍔 Delicious food and refreshing drinks provided<br/>
          Don't miss your chance to compete in this thrilling event! Gather your team, register early, and secure your spot. Spaces are limited! 
          </li>
      </ul>
      <p>👉 Email us fcwhitehaven&#64;gmail.com for more details or to register your team today</p><br/>
      <ul>
        <li><strong>Further Details:</strong><br/><br/>
          8 teams (2 fields)<br/><br/>

          Group A (Field 1)<br/>
          Team Purple<br/>
          Team Black<br/>
          Team Yellow<br/>
          Team Blue<br/><br/>

          Group B (Field 2)<br/>
          Team Pink<br/>
          Team White<br/>
          Team Orange<br/>
          Team Red<br/><br/>

          Group Stage -  40 minute games (20 minute halves, 5 minute half time)<br/>
          Quarter Finals - 70 minute games (35 minute halves, 5 minute half time)<br/>
          Semi Finals - 70  minute games  (30 minute halves, 10 minute half time)<br/>
          3rd Place Game - 70 minute games (30 minute  halves, 10 minute half time)<br/>
          Finals - 90  minute games (45 minute halves, 10 minute halves)<br/><br/>

          DAY 1: <br/><br/>

          GROUP STAGES: 40 minute games (20 minute halves, 5 minute half time) <br/><br/>

          Round 1<br/>
          Group A - Game 1: Purple vs Yellow (9:00 AM - 9:55AM)<br/>
          Group B - Game 2: Pink vs Orange (9:00 AM - 9:55AM)<br/><br/>

          Round 2:<br/>
          Group A - Game 3: Black vs Blue (10:00 AM - 10:55AM)<br/>
          Group B - Game 4: Red vs White( 10:00 AM - 10:55AM)<br/><br/>

          Round 3:<br/>
          Group A - Game 5: Purple vs Black (11:00 AM - 11:55 AM)<br/>
          Group B - Game 6: Pink vs White (11:00 AM - 11:55 AM)<br/><br/>

          Round 4:<br/><br/>
          Group A - Game 7: Blue vs Yellow  (12:00 PM - 12:55 PM )<br/>
          Group B - Game 8: Red vs Orange (12:00 PM - 12:55 PM )<br/><br/>

          LUNCH 1:00-1:30 PM<br/><br/>

          Round 5:<br/>
          Group A - Game 9: Purple vs Blue (1:35 PM - 2:25 PM)<br/>
          Group B - Game 10: Pink vs Red (1:35 PM - 2:25 PM)<br/><br/>


          Round 6:<br/>
          Group A - Game 11: Yellow vs Black (2:30 PM - 3:15 PM) <br/>
          Group B - Game 12: Orange vs White (2:30 PM - 3:15 PM) <br/><br/>


          QUARTER FINALS: 60 minute games (30 minute halves, 5 minute half time) <br/><br/>

          Game 13: 1st place in Group A vs 4th place in Group B (Field 1) (3:30 PM  - 4:35 PM)<br/>
          Game 14: 1st place in Group B vs 4th place in Group A (Field 2) (3:30 PM - 4:35 PM)<br/>
          Game 15: 2nd place in Group A vs 3rd place in Group B (Field 1) (4:45 PM - 5:50PM)<br/>
          Game 16: 2nd place in Group B vs 3rd place in Group A (Field 2) (4:50 PM - 5:50 PM)<br/><br/>

          DAY 2  --> START AT 4 PM on Sunday<br/><br/>

          SEMI-FINALS: 60 minute games (30 minute halves, 5 minute half time)<br/>
          Game 17: Winner of Game 13 vs Winner of Game 16 (Field 1) (4:15 PM - 5:20 PM)<br/>
          Game 18: Winner of Game 14 vs Winner of Game 15 (Field 2) (4:15 PM - 5:20  PM)<br/><br/>

          3RD PLACE GAME - 70 minute games (35 minute halves, 10 minute half time)<br/>
          Game 19: Loser of Game 17 vs Loser of Game 18 (5:30 PM - 6: 45) <br/><br/>

          FINALS 70 minute games (35 minute halves, 10 minute halves)<br/>
          Game 20 - Winner of Game 17 vs Winner of Game 18 (5:30 PM - 6:45 PM)
      </ul>
    </div>
  </section>
  