<section>
  <section
    class="hero h-[20vh] sm:h-[30vh] lg:h-[55vh] relative flex items-center"
  >
    <div class="absolute inset-0 bg-white/1 backdrop-blur-[.0938rem]"></div>
    <div class="relative z-10 flex flex-col items-end w-full mr-2">
      <div class="text-left sm:mr-5 lg:mr-[9.375rem]">
        <h1
          class="hero_title font-title text-base sm:text-2xl sm:pb-2 lg:text-5xl lg:pb-4"
        >
          WHCFC Invitational<br />
          Tournament
        </h1>
        <h2
          class="text-white font-title text-[.625rem] hero_sub sm:text-base lg:text-2xl"
        >
          June 28-29 (Sat - Sun)
        </h2>
        <h2
          class="text-white font-title text-[.625rem] hero_sub sm:text-base lg:text-2xl"
        >
          &#64; UTSC “THE VALLEY"
        </h2>
      </div>
    </div>
  </section>
  <div
    class="text-center text-white font-title text-xs sm:text-lg lg:text-3xl p-3 bg-[#333333]"
  >
    Don’t miss chance in this
    <span class="text-[#FBEA08]">thrilling event!</span>
  </div>
  <section>
    <h1
      class="text-white font-title text-sm sm:text-xl md:text-3xl md:py-5 lg:text-4xl bg-secondary text-center py-2"
    >
      PROGRAM INFO
    </h1>
    <div class="text-center my-6 sm:text-lg md:text-xl lg:text-2xl lg:my-10">
      <h2 class="font-bold my-3">Early Bird Pricing</h2>
      <p class="my-2 lg:my-4">$500 (Team Registration)</p>
      <p class="my-2 lg:my-4">$40 (Individual Registration)</p>
      <h2 class="font-bold my-3 lg:my-5">Date</h2>
      <p class="mb-5">June 28-29, 2025 (Saturday - Sunday)</p>
      <div
        class="border-gray-50 border-[.0063rem] w-[90%] border-opacity-70 mx-auto md:my-8"
      ></div>
      <p class="font-bold px-2 text-sm my-5 sm:text-lg md:text-xl lg:text-2xl">
        For more details or to register your team today
      </p>
      <a
        href="mailto:fcwhitehaven@gmail.com"
        class="inline-block font-bold px-3 py-2 rounded-[.9375rem] text-center border-2 hover:text-white transition; text-sm text-secondary border-secondary hover:bg-secondary sm:text-lg lg:text-2xl lg:my-8"
      >
        Contact us
      </a>
    </div>
  </section>
  <section>
    <h1
      class="text-white font-title text-sm sm:text-xl md:text-3xl md:py-5 lg:text-4xl bg-secondary text-center py-2"
    >
      ABOUT PROGRAM
    </h1>
    <div
      class="info py-10 relative flex flex-col items-center sm:flex-row sm:justify-center lg:justify-center"
    >
      <div class="absolute inset-0 bg-black bg-opacity-70"></div>
      <div
        class="py-4 flex flex-col relative z-10 text-white items-center sm:pr-8 lg:pr-16"
      >
        <img
          class="h-auto object-cover w-[9.375rem] sm:w-[12.5rem] sm:h-[12.5rem]"
          src="../../../assets/tournament1.png"
          alt="team playing game"
        />
        <div
          class="text-center pt-4 lg:text-xl flex flex-col justify-center h-[4rem]"
        >
          <p>Minimum of 4 games for every team</p>
          <p>(Maximum team is 8)</p>
        </div>
      </div>
      <div class="py-4 flex flex-col relative z-10 text-white items-center">
        <img
          class="h-auto object-cover w-[9.375rem] sm:w-[12.5rem] sm:h-[12.5rem]"
          src="../../../assets/tournament2.png"
          alt="team getting a trophy"
        />
        <div
          class="text-center pt-4 lg:pt-0 lg:text-xl flex flex-col justify-center h-[4rem]"
        >
          <p>Medals and a trophy for the winning team</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1
      class="text-white font-title text-sm sm:text-xl md:text-3xl md:py-5 lg:text-4xl bg-secondary text-center py-2"
    >
      FURTHER DETAILS
    </h1>
    <div
      class="w-[90%] mx-auto my-6 p-6 bg-gray sm:text-base md:w-[80%] md:text-lg lg:w-[60%] lg:text-xl lg:p-10"
    >
      <h3 class="font-bold py-3">Day 1: Group Stages & Quarterfinals</h3>
      <p class="py-2 font-bold">📅 Saturday</p>
      <p class="py-2">
        ⏳ 40-minute group stage games (20 min halves, 5 min halftime)
      </p>
      <p class="py-2">
        ⏳ 60-minute quarterfinals (30 min halves, 5 min halftime)
      </p>
      <h3 class="font-bold py-3">Day 2: Semifinals & Finals</h3>
      <p class="py-2 font-bold">📅 Sunday (Starts at 4:00 PM)</p>
      <p class="py-2">⏳ 60-minute semifinals</p>
      <p class="py-2">⏳ 70-minute 3rd place & final matches</p>
      <div class="flex my-4 flex-col items-center md:hidden">
        <a
          href="../../../assets/Tournament_imge(1day).png"
          target="_blank"
          type="button"
          class="mt-4 text-secondary hover:text-white border border-secondary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 sm:w-full sm:max-w-[60%] md:max-w-[40%]"
        >
          Click to check Day1 Schedule
        </a>
        <a
          href="../../../assets/Tournament_imge(2day).png"
          target="_blank"
          type="button"
          class="mt-4 text-secondary hover:text-white border border-secondary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 sm:w-full sm:max-w-[60%] md:max-w-[40%]"
        >
          Click to check Day2 Schedule
        </a>
      </div>
      <div
        class="relative hidden md:flex md:w-[90%] justify-center mx-auto md:my-6"
      >
        <div
          #carousel
          class="overflow-x-auto snap-x snap-mandatory scroll-smooth touch-pan-x max-w-xl flex"
        >
          <!-- Carousel items -->
          <div class="content-start flex-none w-full">
            <img
              src="../../../assets/Tournament_imge(1day).png"
              alt="Tournament day1"
              class="w-full h-300 object-cover"
            />
          </div>
          <div class="content-start flex-none w-full">
            <img
              src="../../../assets/Tournament_imge(2day).png"
              alt="Tournament day2"
              class="w-full h-300 object-cover"
            />
          </div>
        </div>
        <!-- Carousel controls -->
        <div
          class="absolute inset-y-0 left-0 flex items-center justify-start pl-4"
        >
          <button
            class="carousel-control-prev bg-gray-800 hover:bg-gray-700 bg-secondary rounded-full p-2 focus:outline-none"
          >
            <svg
              class="w-6 h-6 text-white"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center justify-end pr-4"
        >
          <button
            class="carousel-control-next bg-gray-800 hover:bg-gray-700 bg-secondary rounded-full p-2 focus:outline-none"
          >
            <svg
              class="w-6 h-6 text-white"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1
      class="text-white font-title text-sm sm:text-xl md:text-3xl md:py-5 lg:text-4xl bg-secondary text-center py-2"
    >
      LOCATION
    </h1>
    <div
      class="w-auto h-[18.75rem] sm:h-[6.25rem] md:h-[12.5rem] lg:h-[18.75rem]"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.747861823323!2d-79.1830232!3d43.7780925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da66a74e04e3%3A0xe35c7f4a0b5263d3!2sUTSC%20Valley!5e0!3m2!1sen!2sus!4v1743638394393!5m2!1sen!2sus"
        class="w-full h-full border-0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
</section>
