<div class="section grey-background">
    <div class="content left">
      <h2>Sponsors</h2>
      <p>
        Sponsoring White Haven Community Football Club (WHCFC) means becoming a vital part of our mission to provide free football experiences and educational workshops to the community.<br/> 
        Your support enables us to foster inclusivity, teamwork, and personal development among individuals from diverse backgrounds.<br/>
        As a sponsor, you'll gain visibility and recognition within the community, aligning your brand with a positive and impactful cause.<br/>
        Join us in empowering the next generation and building a stronger, more connected community through the beautiful game.
      </p>
    </div>
    <div class="image right">
      <img src="assets/sponsor.jpg">
    </div>
</div>
<app-sponsor-highlight></app-sponsor-highlight>