<div class="section white-background">
    <div class="content right">
      <h2>DARK COLORS KITCHEN AND RENO</h2>
      <p>
        <a href="https://www.darkcolor.ca/" target="_blank" style="color: blue;">Dark Colors website </a>displays the various projects completed, with visuals and testimonials. Work done includes renovation, kitchen cabinets, general contracting.<br/>
        Complete Remodeling is what the company does best, and this means that they are also well equipped to do bathroom and kitchen remodeling and home Interior work. Also, Dark Colors will help a customer realize any ideas they have and bring them into reality.  They are flexible too and can work based on any budget the customer has.<br/>       
        Inquiries are welcomed at sales&#64;darkcolor.ca, or call the cell number for Dark Colors, 647-381-7379. Details are available on the website or by calling German at the above cell number.
    </p>
    </div>
    <div class="image left">
        <a href="https://www.darkcolor.ca/" target="_blank">
            <img src="assets/darkcolor.png">
        </a>
    </div>
  </div>