# Database configs
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=whcfc

# Email server configs（Gmail）
APP_MAILING_SENDER_EMAIL=your_email@gmail.com
APP_MAILING_PASSWORD=your_app_password
APP_MAILING_RECEIVER_EMAIL=contact@whcfc.ca

# Google reCAPTCHA configs
# Secret key for testing: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
CAPTCHA_SECRET=your_recaptcha_secret_key

# Server configs
PORT=8000
NODE_ENV=development

# Winston configs
# (Optional) WINSTON_MAX_FILES=number_of_max_files
# (Optional) WINSTON_LOG_LEVEL=lowest_level_to_log

# Important:
# 1. Copy and rename the file as .env or .env.dev
# 2. Input the required environment variables
# 3. Don't commit .env to Git!
